* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

#title-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 24px;
}
#title-box i{
    font-size: 80px;
    color: gray;
}

#container {
    width: 80%;
    margin: 2vh auto 2vh auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 10px #a3a0a0;
    padding: 0 24px;
    border-radius: 10px;
}

#app-btn {

    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: 20%;
}

#app-btn button {
    padding: 22px;
    border-radius: 8px;
    border: 1px solid #F69D70;
    font-size: 32px;
    font-weight: bold;
    background-color: #3C91A5;
    color: #FFFC18;
    
}

#app-btn button:hover{
    background: #0DA299;
    color: #FFF9B3;
    cursor: pointer;
}